# This file may be used to create an environment using:

einops                            
h5py                              
imageio                           
json5                             
jsonschema                        
matplotlib                        
monai                             
nbconvert                         
nibabel                           
numpy                             
opencv-python                     
pandas                            
Pillow                            
pydicom                           
scikit-image                      
scipy                             
SimpleITK                         
torch                             
torchvision                       
tqdm                              
